<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT Page</title>
  </head>
  <body>
    <ul>
      <li><a href="http://localhost:5000/">Home</a></li>
      <li><a href="http://localhost:5000/blog">Blog</a></li>
      <li><a href="http://localhost:5000/contact">Contact</a></li>
      <li><a href="http://localhost:5000/about">About</a></li>
    </ul>
    <h1>This is ABOUT PAGE!</h1>
    <p>This ABOUT PAGE is a test for Nodejs server creation test.</p>
  </body>
</html>
